Is there a color that will provide more
link follows than blue?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

from scipy.stats import pearsonr

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
df = pd.read_csv(r'C:\Users\funju\Desktop\РаботаУчеба\Учеба\Data Scientist\Проект1\colored_ad_click_table.csv')

In [4]:
df.head()

,Color,Click Count: Day 1,View Count: Day 1,Click Count: Day 2,View Count: Day 2,Click Count: Day 3,View Count: Day 3,Click Count: Day 4,View Count: Day 4,Click Count: Day 5,View Count: Day 5,Click Count: Day 6,View Count: Day 6,Click Count: Day 7,View Count: Day 7,Click Count: Day 8,View Count: Day 8,Click Count: Day 9,View Count: Day 9,Click Count: Day 10,View Count: Day 10,Click Count: Day 11,View Count: Day 11,Click Count: Day 12,View Count: Day 12,Click Count: Day 13,View Count: Day 13,Click Count: Day 14,View Count: Day 14,Click Count: Day 15,View Count: Day 15,Click Count: Day 16,View Count: Day 16,Click Count: Day 17,View Count: Day 17,Click Count: Day 18,View Count: Day 18,Click Count: Day 19,View Count: Day 19,Click Count: Day 20,View Count: Day 20
0,Pink,21,100,20,100,14,100,30,100,12,100,23,100,26,100,21,100,16,100,21,100,21,100,16,100,30,100,24,100,17,100,23,100,15,100,22,100,19,100,20,100
1,Gray,27,100,27,100,26,100,17,100,29,100,27,100,19,100,21,100,28,100,24,100,23,100,21,100,18,100,18,100,18,100,25,100,21,100,27,100,25,100,24,100
2,Sapphire,30,100,32,100,30,100,26,100,32,100,29,100,21,100,26,100,28,100,27,100,33,100,22,100,27,100,29,100,38,100,33,100,30,100,30,100,30,100,25,100
3,Purple,26,100,21,100,16,100,17,100,23,100,17,100,21,100,30,100,15,100,26,100,17,100,20,100,24,100,19,100,24,100,22,100,20,100,26,100,25,100,33,100
4,Coral,26,100,24,100,25,100,27,100,36,100,30,100,36,100,31,100,31,100,26,100,37,100,25,100,21,100,23,100,20,100,26,100,21,100,22,100,26,100,25,100

All views are equal to 100, columns containing this information can be discarded.

In [5]:
df = df[df.columns.drop(list(df.filter(regex='View')))]

df = df.T
df.columns = df.iloc[0]
df = df[1:]
df.reset_index()

df.head()

Color,Pink,Gray,Sapphire,Purple,Coral,Olive,Navy,Maroon,Teal,Cyan,Orange,Black,Tan,Red,Blue,Brown,Turquoise,Indigo,Gold,Jade,Ultramarine,Yellow,Virdian,Violet,Green,Aquamarine,Magenta,Silver,Bronze,Lime
Click Count: Day 1,21,27,30,26,26,26,38,21,25,24,13,27,22,22,29,19,24,12,21,27,49,14,27,15,14,24,18,26,19,20
Click Count: Day 2,20,27,32,21,24,19,29,29,25,22,28,25,15,22,30,16,37,16,22,28,41,24,23,22,25,28,21,24,19,19
Click Count: Day 3,14,26,30,16,25,20,30,24,32,34,24,28,18,16,27,15,34,26,27,22,24,20,24,22,29,25,23,18,27,22
Click Count: Day 4,30,17,26,17,27,23,32,22,28,23,20,26,28,19,27,16,32,20,22,21,36,17,22,20,30,35,19,32,18,26
Click Count: Day 5,12,29,32,23,36,27,29,22,25,23,21,25,19,15,42,20,33,23,28,22,34,18,22,26,26,31,21,32,19,29

In [6]:
mean = df.mean(axis=0)
mean = mean.to_frame().reset_index()
mean = mean.rename(columns= {0: 'Mean'})
mean['Mean'] = mean['Mean'].astype(float)

mean.head()

      Color   Mean
0      Pink  20.55
1      Gray  23.25
2  Sapphire  28.90
3    Purple  22.10
4     Coral  26.90

In [7]:
print("Yes, there is a colors that provide more links than blue color. Let's see at least top two: ")
mean.nlargest(2, 'Mean')

Yes, there is a colors that provide more links than blue color. Let's see at least top two:

          Color  Mean
20  Ultramarine  34.2
6          Navy  29.3

Fred doesn't know how to interpret the results correctly and isn't sure
which link follows were purposeful and which were accidental. 

Null hypothesis:
The ultramarine color does not differ from the Navy color in the number of link follows due to the randomness of such follows, so their interchange will not affect the result.
    
Alternative hypothesis:
Ultramarine actually has more purposeful follows.

Let's set a level of significance at α = 0.05

In [8]:
a = 0.05

p_value = pearsonr(df['Navy'], df['Ultramarine']).pvalue # Pearson coefficient

In [9]:
if p_value > a:
    print(f'P-value result is: {p_value} and since it bigger that our α = {a} the correlation is not statistically significant.  We fails to reject the null hypothesis')
else:
    print(f'P-value result is: {p_value} and since it lesser that our α = {a} we reject the null hypothesis')

P-value result is: 0.2597343797428515 and since it bigger that our α = 0.05 the correlation is not statistically significant.  We fails to reject the null hypothesis

As a result, there is a 25% chance that a large number of link follows are random and a 95% chance that the result is a consequence of the created conditions.